In [27]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import confusion_matrix
from sklearn.neighbors import KNeighborsClassifier

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [29]:
data_orj=pd.read_csv("heart.csv")
data_orj.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [30]:
### Mengambil semua data untuk percobaan
data = data_orj.loc [:,'age':'target']

### Mengambil 3 kolom
data_knn = data[['chol','target','thalach']]

### Input jumlah K atau jumlah tetangga terdekat
inK = int(input("Masukkan K : "))

### Mencari knn dengan menggunakan sklearn neighbors clssifier
knn = KNeighborsClassifier(n_neighbors = inK)  
x,y = data_knn.loc[:,data_knn.columns != 'target'], data_knn.loc[:,'target']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3, random_state = 42)
knn.fit(x_train,y_train)
prediction = knn.predict(x_test)

print('KNN dengan (K =',inK,') Akurasinya adalah: ', knn.score(x_test,y_test))
print("")

datatest = pd.DataFrame(x_test)
datatest["target"] = y_test
datatest["prediksi"] = prediction
print ("Data Asli dan Prediksinya")
print (datatest)

Masukkan K : 2
KNN dengan (K = 2 ) Akurasinya adalah:  0.5934065934065934

Data Asli dan Prediksinya
     chol  thalach  target  prediksi
179   276      112       0         0
228   288      159       0         0
111   126      173       1         1
246   409      150       0         0
60    265      130       1         0
9     168      174       1         1
119   243      152       1         0
223   288      133       0         0
268   286      116       0         0
33    273      152       1         0
5     192      148       1         0
101   270      145       1         1
45    325      172       1         0
175   167      114       0         0
118   204      172       1         1
46    235      180       1         1
125   210      192       1         1
192   188      113       0         0
285   311      120       0         0
279   166      125       0         0
152   227      155       1         0
269   283      103       0         0
272   237       71       0         0
25    302      162       1         0
146   242      149       1         0
283   223      181       0         0
254   273      125       0         0
73    261      186       1         1
231   289      124       0         0
109   254      159       1         0
..    ...      ...     ...       ...
132   295      162       1         0
202   270      111       0         0
196   231      147       0         1
75    250      161       1         0
176   230      160       0         0
59    303      159       1         0
93    288      159       1         0
6     294      153       1         0
177   335      158       0         1
30    198      168       1         1
22    226      178       1         0
258   244      154       0         0
56    222      186       1         0
242   212      132       0         0
114   262      155       1         0
287   232      164       0         0
282   218      134       0         0
197   254      163       0         0
158   220      144       1         0
164   175      173       1         1
244   184      105       0         0
84    265      122       1         0
66    222      143       1         0
113   211      161       1         1
167   268      160       0         1
250   298      122       0         0
19    239      151       1         0
143   223      142       1         0
79    240      154       1         0
144   197      116       1         0

[91 rows x 4 columns]